@model IEnumerable<DistribuiraneBazeKnjiznica.Models.Autor>

@{
    ViewBag.Title = "Autori";
}

<h2>Autori</h2>

<p>
    @Html.ActionLink("Dodaj novog autora", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OIB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OIB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.AutorID }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.AutorID }) |
            @Html.ActionLink("Izbriši", "Delete", new { id=item.AutorID })
        </td>
    </tr>
}

</table>
