@model IEnumerable<DistribuiraneBazeKnjiznica.Models.Nakladnik>

@{
    ViewBag.Title = "Nakladnici";
}

<h2>Nakladnici</h2>

<p>
    @Html.ActionLink("Dodaj novog", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OIB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OIB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.NakladnikID }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.NakladnikID }) |
            @Html.ActionLink("Izbrši", "Delete", new { id=item.NakladnikID })
        </td>
    </tr>
}

</table>
